<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @produc.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @produc.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @produc.image_url %>
</p>

<p>
  <strong>Image thumb:</strong>
  <%= @produc.image_thumb %>
</p>

<p>
	<strong>Color:</strong>
	<%= @produc.color %>	
</p>

<%= link_to 'Edit', edit_product_path(@produc) %> |
<%= link_to 'Back', products_path %>
